#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

# Mark build/tool scripts as vendored so GitHub shows Java only
build_legacy.py linguist-vendored
*.ps1 linguist-vendored
gradlew linguist-vendored
